@import '../../styles/global.scss';

.comment-section{
    display: flex;
    flex-direction: column;
    padding: 0 $spacing-16;

    @include desktop{
        padding: 0;
    }

    @include tablet{
        padding: 0 $spacing-36;
    }

    &__wrapper{
        display: flex;
        flex-direction: column;
        padding-bottom: $spacing-16;
        gap: $spacing-16;

        @include desktop{
            padding: 0;
            gap: 0;
        }

        @include tablet{
            padding: 0;
            gap: 0;
        }
    }

    &__add-comment-wrapper{
        display: flex;
        flex-direction: row;
        box-sizing: border-box;

        @include desktop{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            padding: $spacing-24 $spacing-24 $spacing-24 $spacing-8;
        }

        @include tablet{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            padding: $spacing-24 0;
        }
    }

    &__add-comment{
        display: flex;
        flex-direction: column;
        gap: $spacing-16;
        width: 100%;
        align-items: flex-end;

        @include desktop{
            display: flex;
            flex-direction: row;
            gap: $spacing-16;
        }

        @include tablet{
            display: flex;
            flex-direction: row;
            gap: $spacing-16;
        }
    }
}