@import '../../styles/global.scss';

.primary-button{
    border: none;
    outline: none;
    background: $button-primary-default;
    color: $white;
    height: 2.5rem;
    border-radius: 0.25rem;
}