@import '../../styles/partials/breakpoints';

.upload-video{

    width: 100%;

    @include desktop{
        padding: $spacing-16 0;
    }

    @include tablet{
        padding: 0;
    }

    &__section-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $spacing-16;    
        padding: $spacing-16;

        @include desktop{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            max-width: $desktop-12-columns; 
            margin: auto;
            padding: 0;
        }

        @include tablet{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: auto;
            padding: $spacing-16 $spacing-36;
        }
    }

    &__header{
        padding-top: $spacing-40;
        padding-bottom: $spacing-24;
    }
}