@import '../../styles/global.scss';

.search-bar{
    width: 100%;

    @include desktop{
        width: 15rem;
    }

    &__input{
        background-image: url('../../assets/icons/search.svg');
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 1rem 1rem 1rem 2.5rem;
        height: 2.25rem;

        @include desktop{
            height: 2.5rem;
        }

        @include tablet{
            height: 2.5rem;
        }
    }
}