@import './partials/mixins.scss';
@import './partials/variables.scss';

@font-face {
    font-family:'Avenir Next LT Pro';
    src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
    font-weight: 400;
}

@font-face {
    font-family:'Avenir Next LT Pro';
    src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
    font-weight: 600;
}

@font-face {
    font-family:'Avenir Next LT Pro';
    src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
    font-weight: 700;
}

// breakpoints 
@mixin desktop{
    @media screen and (min-width: $desktop-breakpoint){
        @content;
    }
}

@mixin tablet{
    @media screen and (min-width:#{$tablet-min-breakpoint}) and (max-width: #{$tablet-max-breakpoint}) {
        @content;
    }
}

// fonts
h1{
    @include mobile-page-header;
    margin: 0;
    padding: 0;

    @include desktop {
        @include desktop-tablet-page-header;
    }

    @include tablet() {
        @include desktop-tablet-page-header;
    }
}

p{
    @include mobile-body;
    margin: 0;
    padding: 0; 

    @include desktop {
        @include desktop-tablet-body;
    }

    @include tablet() {
        @include desktop-tablet-body;
    }
}

body {
    font-family: 'Avenir Next LT Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}