@import './partials/mixins.scss';
@import './partials/variables.scss';

@font-face {
    font-family:'Avenir Next LT Pro';
    src: url(../assets/fonts/AvenirNextLTPro-Regular.otf)format('opentype');
    font-weight: 400;
}

@font-face {
    font-family:'Avenir Next LT Pro';
    src: url(../assets/fonts/AvenirNextLTPro-Demi.otf) format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url(../assets/fonts/AvenirNextLTPro-Bold.otf) format('opentype');
    font-weight: 700;
}

// breakpoints 
@mixin desktop{
    @media screen and (min-width: $desktop-breakpoint){
        @content;
    }
}

@mixin tablet{
    @media screen and (min-width:#{$tablet-min-breakpoint}) and (max-width: #{$tablet-max-breakpoint}) {
        @content;
    }
}

// fonts
h1{
    @include mobile-page-header;
    margin: 0;
    padding: 0;

    @include desktop {
        @include desktop-tablet-page-header;
    }

    @include tablet() {
        @include desktop-tablet-page-header;
    }
}

h2{
    @include mobile-section-header;
    margin: 0;
    padding: 0;

    @include desktop {
        @include desktop-tablet-section-header;
    }

    @include tablet() {
        @include desktop-tablet-section-header;
    }
}

h3{
    @include mobile-subheader;
    margin: 0;
    padding: 0;

    @include desktop {
        @include desktop-tablet-subheader;
    }

    @include tablet() {
        @include desktop-tablet-subheader;
    }
}

p{
    @include mobile-body;
    margin: 0;
    padding: 0; 

    @include desktop {
        @include desktop-tablet-body;
    }

    @include tablet() {
        @include desktop-tablet-body;
    }
}

body {
    font-family: 'Avenir Next LT Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $brainflix-black;
}

input,
textarea{
    width: 100%;
    height: 2.5rem;
    box-sizing: border-box;
    border: 0.0625rem solid $input-field-defualt;
    border-radius: 0.25rem;
    background-color: $input-background;
    outline: none;
    @include mobile-body;
    font-family:'Avenir Next LT Pro' !important;
    resize: none;
    
    @include desktop{
        @include desktop-tablet-body;
    }
    
    @include tablet{
        @include desktop-tablet-body;
    }

    &:focus{
        border: 0.125rem solid $input-field-active;
    }

    &::placeholder{
        color: $text-primary;
        @include mobile-body;
        font-family:'Avenir Next LT Pro' !important;

        @include desktop{
            @include desktop-tablet-body;
            width: 15rem;
            height: 2.5rem;
        }
        
        @include tablet{
            @include desktop-tablet-body;
            width: 15rem;
            height: 2.5rem;
        }
    }

    &__error {
        outline: 2px solid $error;
      }
}

.profile-image-none{
    display: none;
}

.brainflix_icon_lg{
    width: 1.5rem;
}

.brainflix_icon_button{
    width: 1.5rem;
    position: absolute;
    left: 0.5rem;
}

.brainflix_icon{
    width: 1rem;

    @include desktop{
        width: 1.5rem;
    }

    @include tablet(){
        width: 1.5rem;
    }
}

.brainflix_icon_sm{
    width: 0.5rem;

    @include desktop{
        width: 1.5rem;
    }

    @include tablet(){
        width: 1.5rem;
    }
}

.divider-bottom{
    border-bottom: 1px solid $divider;
}

.error-border {
    border: 2px solid $error;
}

.max-width{
    width: 100%;

    @include desktop{
        max-width: 9.375rem;
    }

    @include tablet(){
        max-width: 9.375rem;
    }
}

.min-height{
    height: 2.5rem;
}