@import '../../styles/global.scss';

.comment{
    display: flex;
    flex-direction: row;
    padding: $spacing-24 $spacing-24 $spacing-24 $spacing-8;
    border-top: 1px solid $divider;

    @include desktop{
        padding: $spacing-24 $spacing-24 $spacing-24 $spacing-8;
    }

    @include tablet{
        padding: $spacing-24 0;
    }

    &__wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__upper-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__profile-no-image{
        background-color: $profile-color;
    }

    &__time{
        color: $text-secondary;
    }
}