@import '../../styles/global.scss';

.next-video{
    display: flex;
    flex-direction: column;
    gap: $spacing-16;
    border-top: 1px solid $divider;
    margin: 0 $spacing-16 $spacing-16 $spacing-16;
    padding-top: $spacing-16;

    @include desktop{
        border-top: none;
        padding: 0;
        margin: 0;
        gap: $spacing-24;
    }

    @include tablet{
        border-top: none;
        gap: $spacing-24;
        margin: 0;
        width: 18.75rem;
    }

    &__heading{
        @include label-style;
    }
}