// Desktop and tablet font size 
@mixin desktop-tablet-page-header{
    font-size: 2.0625rem;
    line-height: 2.75rem;
    font-weight: 700;
}

@mixin desktop-tablet-section-header{
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
}

@mixin desktop-tablet-subheader{
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 700;
}

@mixin desktop-tablet-body{
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
}

@mixin desktop-tablet-button{
    font-size: 0.75rem !important;
    line-height: 1.25rem !important;
    font-weight: 700 !important;
}

@mixin desktop-tablet-label{
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
}

// Mobile text font size 
@mixin mobile-page-header{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

@mixin mobile-section-header{
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
}

@mixin mobile-subheader{
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 700;
}

@mixin mobile-body{
    font-size: 0.8125rem !important;
    line-height: 1.125rem !important;
    font-weight: 400 !important;
}

@mixin mobile-button{
    font-size: 0.625rem !important;
    line-height: 1.25rem !important;
    font-weight: 700 !important;
}

@mixin mobile-label{
    font-size: 0.625rem;
    line-height: 1.25rem;
    font-weight: 700;
}

@mixin label-style{
    color: $text-secondary;
    text-transform: uppercase;
    @include mobile-subheader;

    @include desktop{
        @include desktop-tablet-subheader;
    }

    @include tablet{
        @include desktop-tablet-subheader;
    }
}