@import '../../styles/global.scss';

.video-thumbnail{
    display: flex;
    flex-direction: row;
    gap: $spacing-16;
    cursor: pointer;

    &__detail{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 2;

        @include desktop{
            flex: 1.5;
        }

        @include tablet{
            flex: 1.5;
        }
    }

    &__wrapper{
        background-color: $background-grey;
        border-radius: 0.25rem;
        overflow: hidden;
        aspect-ratio: 16/9;
        min-height: 4rem;
        flex: 1;

        @include desktop{
            border-bottom: 0.0625rem solid #e1e1e1;
        }
    }

    &__image{
        height: 100%;
        // transform: translate(0, -13%); // center image in the container
    }
}