@import '../../styles/global.scss';

.video-player{
    position: relative;
    width: 100%;

    @include desktop{
        text-align: center;
        background-color: $video-background;
        margin: auto;
    }

    @include tablet{
        text-align: center;
        background-color: $video-background;
        margin: auto;
    }

    &__section-container{
        @include desktop{
            max-width: $desktop-total-width-video;
            margin: auto;
            position: relative;
        }

        @include tablet{
            position: relative;
            padding: 0 $spacing-36;
        }
    }

    &__video{
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: red;
        display: block;
    }

    &__controls{
        display: flex;
        flex-direction: row;
        width: calc(100% - 2.2rem);
        padding: $spacing-8 $spacing-16;
        gap: $spacing-4;
        position: absolute;
        bottom: 0;

        @include desktop{
            box-sizing: border-box;
            padding: $spacing-16;
            gap: $spacing-16;
            width: 100%;
        }

        @include tablet{
            width: calc(100% - 4.5rem);
            box-sizing: border-box;
            padding: $spacing-16;
            gap: $spacing-16;
        }
    }

    &__play{
        padding: $spacing-4 $spacing-8;
        background-color: rgba($video-button-background, 0.5);
        cursor: pointer;
        border-radius: 0.25rem;
        margin: auto;
        width: 8px;

        @include desktop{
            padding: $spacing-8 $spacing-16;
        }

        @include tablet{
            padding: $spacing-8 $spacing-16;
        }
    }

    &__scrub{
        padding: $spacing-4 $spacing-8;
        background-color: rgba($video-button-background, 0.5);
        cursor: pointer;
        width: 100%;
        display: flex;
        flex-direction: row;
        border-radius: 0.25rem;
        align-items: center;
        gap: $spacing-16;

        @include desktop{
            padding: $spacing-8 $spacing-16;
        }

        @include tablet{
            padding: $spacing-8 $spacing-16;
        }
    }

    &__scrub-bar{
        border: 2px solid $video-scrub-bar;
        width: 100%;
        border-radius: 1.25rem;
        height: 0.25rem;
        box-sizing: border-box;
    }

    &__scrub-time{
        color: $white;
        width: auto;
        white-space: nowrap;
        padding: 0;
        @include mobile-label;

        @include desktop{
            @include desktop-tablet-label;
        }
    }

    &__right-control{
        display: flex;
        flex-direction: row;
        padding: $spacing-4 $spacing-8;
        background-color: rgba($video-button-background, 0.5);
        cursor: pointer;
        border-radius: 0.25rem;

        @include desktop{
            padding: $spacing-8 $spacing-16;
        }

        @include tablet{
            padding: $spacing-8 $spacing-16;
        }
    }
}