@import '../../styles/global.scss';

.profile-pic{
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    overflow: hidden;

    @include desktop{
        width: 2.5rem;
        height: 2.5rem;
    }

    @include tablet{
        width: 2.5rem;
        height: 2.5rem;
    }

    &__image{
        height: 2.5rem;    
    }
}
