@import './styles/partials/variables.scss';
@import './styles/global.scss';


.section-wrapper{
    display: flex;
    flex-direction: row;
    max-width: $desktop-total-width;
    margin: auto;

    &__left{
        display: flex;
        flex-direction: column;
    }

    &__right{
        
        @include desktop{
            padding: $spacing-24 $spacing-16;
        }
    }
}