@import './styles/partials/breakpoints';

.section-wrapper{
    display: flex;
    flex-direction: column;

    @include desktop{
        display: flex;
        flex-direction: row;
        max-width: $desktop-total-width;
        margin: auto;
    }

    &__left{
        display: flex;
        flex-direction: column;

        @include desktop{
            gap: $spacing-24;
        }

        @include tablet{
            gap: $spacing-24;
        }
    }

    &__right{
        border-left: 1px solid $divider;

        @include desktop{
            padding: $spacing-24 $spacing-16;
        }

        @include tablet{
            padding: $spacing-24 $spacing-36;
        }
    }
}