@import '../../styles/global.scss';

.image{
    background-color: $background-grey;
    border-radius: 0.25rem;
    overflow: hidden;
    min-height: 4rem;
    flex: 1;

    @include desktop{
        border-bottom: 0.0625rem solid #e1e1e1;
    }

    &__inner{
        height: 100%;
        width: 100%;
    }
}