@import '../../styles/global.scss';

.video-detail{

    display: flex;
    flex-direction: column;
    gap: $spacing-16;
    padding: $spacing-16;

    @include desktop{
        padding: 0;
        gap: $spacing-8;
    }

    @include tablet{
        padding:$spacing-24 $spacing-36;
        gap: $spacing-8;
    }

    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: $spacing-16;

        @include desktop{
            padding-top: $spacing-32;
            padding-right: $spacing-24;
            border-bottom: 0.0625rem solid $divider;
            gap: 0;
        }

        @include tablet{
            padding: 0;
            border-bottom: none;
        }
    }

    &__info-group{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: $spacing-16 0;
        border-bottom: 0.0625rem solid $divider;
        border-top: 0.0625rem solid $divider;

        @include desktop{
            border-bottom: 0;
            border-top: none;
        }

        @include desktop{
            border-bottom: 0;
            border-top: none;
        }
    }

    &__left-panel{
        display: flex;
        flex-direction: column;
        gap: $spacing-16;
        align-items: flex-start;

        @include desktop{
            display: flex;
            flex-direction: row;
            gap: $spacing-24;
            align-items: center;
        }

        @include tablet{
            display: flex;
            flex-direction: row;
            gap: $spacing-24;
        }

        &--name{
            @include mobile-subheader;

            @include desktop{
                @include desktop-tablet-subheader;
            }

            @include tablet{
                @include desktop-tablet-subheader;
            }
        }

        &--date{
            color: $text-label;
        }
    }

    &__right-panel{
        display: flex;
        flex-direction: column;
        color: $text-label;
        gap: $spacing-16;

        @include desktop{
            display: flex;
            flex-direction: row;
            gap: $spacing-24;
        }

        @include tablet{
            display: flex;
            flex-direction: row;
            gap: $spacing-24;
        }
    }

    &__description{
        padding: 0;

        @include desktop{
            padding: $spacing-16 $spacing-24 0 0;
        }

        @include tablet{
            padding: 0;
        }
    }
}